html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  min-height: 100%;
  /* Add any additional styling for your content area */
}

footer {
  text-align: center;
  padding: 3px;
  
  color: white;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Add any additional styling for your footer */
}
